
<% include common/header.ejs %>

<div class='image im3'>

    <span class="stas about-photo">
        <label class="name-lb"> Stanislav </label>
    </span>

    <span class="angi about-photo">
         <label class="name-lb"> Angelina </label>
    </span>

    <div class="about-text">
        We are two students and this is our final project for Java Script course in National University of "Kyiv-Mohyla Academy". We do hope you enjoy our website. For questions or feedback:
        travel@gmail.com <p class="mail"> travel@gmail.com </p>
    </div>


</div>

<% include common/footer.ejs %>
