<% include common/header.ejs %>

<div class='image im2'>

    <div class='experiment'>

        <div class="box">

            <div class="box2">

                <div class="box-line">

                    <div class="types">

                        <label class="radio-trip"><input id="return" type="radio" name="optradio" checked> Return
                        </label>
                        <label class="radio-trip"><input id="one-way" type="radio" name="optradio"> One way </label>

                    </div>

                    <div class="places">

                        <label for="from-input" class="from-label box-label"> From </label>
                        <input type="text" class="box-input form-control " id="from-input"
                               placeholder="Country, city or airport">

                        <label for="to-input" class="to-label box-label"> To </label>
                        <input type="text" class="box-input form-control" id="to-input"
                               placeholder="Country, city or airport">

                    </div>

                    <div class="dates">

                        <label for="there-input" class="there-label box-label"> There </label>
                        <input type="text" class="box-input form-control" id="there-input" placeholder="">

                        <label for="back-input" class="back-label box-label"> Back </label>
                        <input type="text" class="box-input form-control" id="back-input">

                    </div>

                </div>

                <div class="box-btn">

                    <button id="find" class="btn my-btn btn-find"> Find</button>

                </div>

            </div>

        </div>

    </div>

    <div class="way-results">

    </div>

    <footer class="footer">

        <div class="footer-info">
            <!--logo-text-->
            <!--добавить можно лого чтоб был цвет и шрифт как на лого наверху -->
            <h2 class="footer-lg "> Our Domain <br> Goes Here </h2>

            <div class="footer-titles">
                <p id="about" class="about"> About </p>
                <p id="contactus"> Contact </p>
            </div>

            <div class="copyright"> © 2017</div>

        </div>

    </footer>

</div>


<% include common/footer2.ejs %>




