<% include common/header.ejs %>

<div class='image im-test '>

    <div class="test-area">

        <div class="quiz-segment">

            <h2 class="quiz-name"> Find your perfect country to visit! </h2>
            <div class="box-btn box-quiz">
                <button id="start-quiz" class="start-quiz btn my-btn btn-find "> Start Quiz</button>
            </div>

            <div class="questions ">

                <div class="question">
                    <h2 class="q1"> 1. Are you a budget tourist ? </h2>
                    <div class='im-q im-q1'></div>
                    <div class="checkbox">
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="1" id="q11" value="option1" checked> &nbspYes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="1" id="q12" value="option2"> &nbspNo :)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <h2 class="q2"> 2. What do you prefer in traveling ? </h2>
                    <div class='im-q im-q2'></div>
                    <div class="checkbox">
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="2" id="q21" value="option1" checked> &nbspExplore
                                new culture and traditions
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="2" id="q22" value="option2"> &nbspNature: forest
                                and mountains
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="2" id="q23" value="option2"> &nbspBeach and sun
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="2" id="q24" value="option2"> &nbspModern
                                industrial cities
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="2" id="q25" value="option2"> &nbspCharming cities
                                and rich history
                            </label>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <h2 class="q3"> 3. What season do you want to travel ? </h2>
                    <div class='im-q im-q3'></div>
                    <div class="checkbox">
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="3" id="q31" value="option1" checked> &nbspSummer
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="3" id="q32" value="option2"> &nbspAutumn
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="3" id="q33" value="option2"> &nbspWinter
                            </label>
                        </div>
                        <div class="radio">
                            <label class="quiz-radio">
                                <input type="radio" name="3" id="q34" value="option2"> &nbspSpring
                            </label>
                        </div>
                    </div>

                    <div class="box-quiz box-finish">
                        <button id="finish-quiz" class="start-quiz btn my-btn btn-find "> Finish</button>
                    </div>

                </div>

                <div class="quiz-result">
                    <h2 class="quiz-res"> These countries are perfect for you: </h2>
                    <!--<div class='im-q im-res'></div>-->
                    <p id="result-quiz" class="mail"></p>

                </div>


            </div>
        </div>


    </div>


    <footer class="footer">

        <div class="footer-info">
            <!--logo-text-->
            <!--добавить можно лого чтоб был цвет и шрифт как на лого наверху -->
            <h2 class="footer-lg "> Our Domain <br> Goes Here </h2>

            <div class="footer-titles">
                <p id="about"> About </p>
                <p id="contactus"> Contact </p>
            </div>

            <div class="copyright"> © 2017</div>

        </div>

    </footer>

</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Calendar -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>

</body>
</html>