@topPanelHeight: 60px;

//Colors
@topPanelColor: rgba(255, 255, 255, 0.79);
@descriptionColor: rgb(0, 23, 75);
@menuItemColor: #515151;
@siteDescriptionColor: white;
@logoFirstColor: #0024a5;
@logoSecColor: #50a0fa;
@footerColor: #3c3c3c;
@descriptionTextColor: #272727;
@bottomColor: rgba(239, 255, 255, 0.87);
@joinColor: rgba(226, 239, 255, 0.55);

body {
  margin: 0;
  overflow-x: hidden;
}

*{
  font-family: Didot, sans-serif; //todo
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @footerColor;
  height: 120px;
}

.footer-info {
  padding: 0 30px;

}

.footer-titles {
  display: inline-block;
  margin: 0 50px;
  p {
    font-size: 20px;
    display: inline-block;
    color: white;
    margin: 0 10px;
  }
}

.copyright {
  position: absolute;
  right: 20px;
  bottom: 5px;
  color: white;
}

.footer-lg {
  display: inline-block;
  color: white;
  font-family: cursive;
}

h1 {
  font-size: 900%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/photo2.jpeg") no-repeat;
  background-size: cover;
}

.img1{
  background: url("../images/photo.jpeg") no-repeat;
}

.img2{
  background: url("../images/winter.jpeg") no-repeat;
  right: 0;
}

.img3{
  background: url("../images/ocean.jpeg") no-repeat;
}

.bottom-image{
  position: absolute;
  width: 50%;
  height: 400px;
  background-size: cover;
}

.bottom-text{
  font-size: 50px;
  padding: 160px 240px;
  float: right
}

.left{
  padding: 160px 210px;
  float: none;
}

.image-text {
  margin-top: 270px;
  margin-left: 47%;
  color: @menuItemColor;
  font-family: Brush Script MT, Papyrus, cursive;
}

.top-panel {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  top: 0;
  height: @topPanelHeight;
}

.scrolled-top{
  background-color: @topPanelColor;
}

.top-menu{
  margin-top: 15px;
  margin-right: 30px;
  float: right;
}

.logo-text {
  display: inline-block;
  background: linear-gradient(to bottom right, @logoFirstColor, @logoSecColor);//todo
  -webkit-background-clip: text;
  color: transparent;
  font-family: Brush Script MT, Papyrus, cursive;
  font-size: 320%;
}

.btn-logo {
  margin-top: -5px;
  display: inline-block;
}

.glyphicon.glyphicon-globe {
  font-size: 280%;
  color: black;
}

.site-description {
  height: 815px;
  background-color: @siteDescriptionColor;

}


.d1 {
  display: none;
  margin: auto;
  text-align: center;
  padding-top: 22px;
  font-size: 34px;
  width: 100%;
}

.d2 {
  display: none;
  margin: 30px 55px;
  font-size: 28px;
}

.reasons {
  margin: 50px;
}

.reason {
  margin: 35px 20px;
  font-size: 22px;
}

.green-gl {
  font-size: 110%;
  color: limegreen;
  margin-left: 50px;
}

.buttons {
  margin-left: 35%;
}

.my-btn {
  background: #FFFFFF;
  color: #001839;
  border-radius: 2rem;
  padding: 17px 17px;
  border: 2px solid #00C59E;
  font-weight: 600;
  font-size: 20px;
  margin: 0 20px;
}

.my-btn:hover {
  background: #00C59E;
  color: white;
}

.my-image{
  position: absolute;
  float: right;
}

.im1 {
  z-index:1;
  top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transform: rotate(5deg);
  left: 74%;
  background: url("../images/map.jpeg") no-repeat;
  position: absolute;
  width: 410px;
  height: 310px;
  background-size: cover;
}

.im2 {
  z-index: 2;
  top: 263px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  left: 70%;
  background: url("../images/bicycle.jpeg") no-repeat;
  position: absolute;
  width: 400px;
  height: 370px;
  background-size: cover;
}

.im3 {
  z-index: 3;
  top: 410px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transform: rotate(12deg);
  left: 70%;
  background: url("../images/map2.jpg") no-repeat;
  position: absolute;
  width: 480px;
  height: 360px;
  background-size: cover;
}


.animate-description .d1, .animate-description .d2, .animate-description .reason {
  display: block;
  animation: slideInRight 1s;
}

.animate-description .green-gl {
  //animation-delay: 4s ; //TODO не рабоатет dalay
  animation: fadeInDown 5s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

.description {
  padding: 50px;
  color: @descriptionTextColor;
}

.top-menu {
  margin-left: 30px;
}

.other-content {
  position: absolute;
  width: 100%;
  top: 100%;
}

.menu-item {
  display: block !important;
  color: @menuItemColor;
  font-size: 25px;
  padding: 0 24px;
}

.menu-item:hover, .btn-lg:hover {
  text-decoration: underline;
  text-decoration-style: wavy; //TODO doesn't work
}

.bottom-content{
  background-color: @bottomColor;
  height: 400px;
}

.join-us{
  background-color: @descriptionColor;
  height: 380px;
}

.join-us-text{
  font-size: 40px;
  padding-top: 70px;
  margin-left: 25%;
  color: white;
}

.btn-join{
  border: 2px solid @joinColor !important;
  margin-left: 45%;
  padding: 17px 37px;
}

.btn-join:hover{
  background: @joinColor;
}

.item{
  height: 400px !important;
}

#myCarousel2{
  float: right;
}
#myCarousel3{
  float: left;
}
.carousel{
  clear: both;
  display: block;
  width: 50%;
}

